section.video-reviews.container
    .section-intro
        h2 Видеоотзывы
        p При установке имплантов может использоваться подгрудный, подмышечный или периареолярный доступ (по нижнему краю ареолы). Важно отметить, что ни один из данных видов доступа не лишает возможности кормления ребенка грудью в будущем.

    .section-slider.video-slider.swiper
        .swiper-wrapper
            .swiper-slide.video-wrapper
                video.video(src="./2795405-uhd_2160_3840_25fps.mp4", muted)
                button.play-btn
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                    <path d="M10.123 4.86515C11.4564 5.63495 11.4564 7.55945 10.123 8.32925L3.82271 11.9668C2.48937 12.7366 0.822706 11.7743 0.822706 10.2347V2.95969C0.822706 1.42009 2.48937 0.457845 3.82271 1.22765L10.123 4.86515Z" fill="white"/>
                    </svg>
                .progressbar
                    .progress

            .swiper-slide.video-wrapper
                video.video(src="./2795405-uhd_2160_3840_25fps.mp4", muted)
                button.play-btn
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                    <path d="M10.123 4.86515C11.4564 5.63495 11.4564 7.55945 10.123 8.32925L3.82271 11.9668C2.48937 12.7366 0.822706 11.7743 0.822706 10.2347V2.95969C0.822706 1.42009 2.48937 0.457845 3.82271 1.22765L10.123 4.86515Z" fill="white"/>
                    </svg>
                .progressbar
                    .progress

            .swiper-slide.video-wrapper
                video.video(src="./2795405-uhd_2160_3840_25fps.mp4", muted)
                button.play-btn
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                    <path d="M10.123 4.86515C11.4564 5.63495 11.4564 7.55945 10.123 8.32925L3.82271 11.9668C2.48937 12.7366 0.822706 11.7743 0.822706 10.2347V2.95969C0.822706 1.42009 2.48937 0.457845 3.82271 1.22765L10.123 4.86515Z" fill="white"/>
                    </svg>
                .progressbar
                    .progress

            .swiper-slide.video-wrapper
                video.video(src="./2795405-uhd_2160_3840_25fps.mp4", muted)
                button.play-btn
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                    <path d="M10.123 4.86515C11.4564 5.63495 11.4564 7.55945 10.123 8.32925L3.82271 11.9668C2.48937 12.7366 0.822706 11.7743 0.822706 10.2347V2.95969C0.822706 1.42009 2.48937 0.457845 3.82271 1.22765L10.123 4.86515Z" fill="white"/>
                    </svg>
                .progressbar
                    .progress

            .swiper-slide.video-wrapper
                video.video(src="./2795405-uhd_2160_3840_25fps.mp4", muted)
                button.play-btn
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                    <path d="M10.123 4.86515C11.4564 5.63495 11.4564 7.55945 10.123 8.32925L3.82271 11.9668C2.48937 12.7366 0.822706 11.7743 0.822706 10.2347V2.95969C0.822706 1.42009 2.48937 0.457845 3.82271 1.22765L10.123 4.86515Z" fill="white"/>
                    </svg>
                .progressbar
                    .progress

            .swiper-slide.video-wrapper
                video.video(src="./2795405-uhd_2160_3840_25fps.mp4", muted)
                button.play-btn
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                    <path d="M10.123 4.86515C11.4564 5.63495 11.4564 7.55945 10.123 8.32925L3.82271 11.9668C2.48937 12.7366 0.822706 11.7743 0.822706 10.2347V2.95969C0.822706 1.42009 2.48937 0.457845 3.82271 1.22765L10.123 4.86515Z" fill="white"/>
                    </svg>
                .progressbar
                    .progress

