section.reviews-section.container
    .reviews-section__content
        small Отзывы

        h2 Три года назад попала в руки к Наталии Владимировне Жуковой и теперь каждый день радуюсь
        p Все прошло супер, больше было страхов. Большое спасибо моему доктору и клинике. В следующий раз только к вам!


    .rev-gallery
        .circle-gallery
            .center
                img(src="img/circ1.png" alt="#")

                .sputnik.s1.active(data-revtitle="Три года назад попала в руки к Наталии Владимировне Жуковой и теперь каждый день радуюсь" data-revdescr="Все прошло супер, больше было страхов. Большое спасибо моему доктору и клинике. В следующий раз только к вам!")
                    img(src="img/circ1.png" alt="#")

                .dot.d1

                .sputnik.s2(data-revtitle="Отзыв 1" data-revdescr="Описание 1")
                    img(src="img/circ1.png" alt="#")

                .dot.d2

                .sputnik.s3(data-revtitle="Отзыв 2" data-revdescr="Описание 2")
                    img(src="img/circ1.png" alt="#")

                .dot.d3

                .sputnik.s4(data-revtitle="Отзыв 3" data-revdescr="Описание 3")
                    img(src="img/circ1.png" alt="#")

                .dot.d4

                .sputnik.s5(data-revtitle="Отзыв 4" data-revdescr="Описание 4")
                    img(src="img/circ1.png" alt="#")

                .dot.d5

                .sputnik.s6(data-revtitle="Отзыв 5" data-revdescr="Описание 5")
                    img(src="img/circ1.png" alt="#")

                .dot.d6

                .sputnik.s7(data-revtitle="Отзыв 6" data-revdescr="Описание 6")
                    img(src="img/circ1.png" alt="#")