section.estet.container
    .estet_inner.top-divider

        h2 Какие эстетические проблемы решает операция<br> по увеличению груди?

        .icon-grid
            .icon-col
                .ic
                    img(src="img/ic.svg" alt="#")

                span Маленький размер


            .icon-col
                .ic
                    img(src="img/ic.svg" alt="#")

                span Асимметрия

            .icon-col
                .ic
                    img(src="img/ic.svg" alt="#")

                span Возрастные изменения

            .icon-col
                .ic
                    img(src="img/ic.svg" alt="#")

                span Резкое похудение

            .icon-col
                .ic
                    img(src="img/ic.svg" alt="#")

                span Послеродовая деформация

            .icon-col
                .ic
                    img(src="img/ic.svg" alt="#")

                span Перенесенная мастэктомия


.bg-sep
