section.spec.container
    .spec__inner.top-divider.bottom-divider.tabs
        .spec__info-col
            h2 Специалисты

            .doctors-pagination
                .doctors-pagination__dot.active(data-tab="1")
                    img(src="img/doctor1.png" alt="#")

                .doctors-pagination__dot(data-tab="2")
                    img(src="img/doctor2.png" alt="#")

            .spec-tab-container
                .spec-tab-container-box(data-t="1").active
                    h3.doctor-name Сайк Павел Юрьевич
                    span.doctor-pos Ведущий пластический хирург, кандидат мед. наук

                    .doctor-actions
                        button(type="button").ic-btn.ic-btn--orange
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                                <path d="M13 0C20.1799 0 26 5.8201 26 13C26 20.1799 20.1799 26 13 26C10.7026 26.0039 8.44557 25.3959 6.46102 24.2385L0.00522009 26L1.76282 19.5416C0.604466 17.5564 -0.00400611 15.2984 1.98493e-05 13C1.98493e-05 5.8201 5.82012 0 13 0ZM8.56961 6.89L8.30961 6.90039C8.14151 6.91198 7.97727 6.95613 7.82601 7.03039C7.68506 7.11036 7.55634 7.21018 7.44381 7.32679C7.28781 7.47369 7.19941 7.60109 7.10451 7.72459C6.62367 8.34977 6.36478 9.1173 6.36872 9.90599C6.37132 10.543 6.53771 11.1631 6.79771 11.7429C7.32941 12.9155 8.20431 14.157 9.35871 15.3075C9.63691 15.5844 9.90991 15.8626 10.2037 16.1213C11.6382 17.3841 13.3475 18.2948 15.1957 18.7811L15.9341 18.8942C16.1746 18.9072 16.4151 18.889 16.6569 18.8773C17.0354 18.8573 17.405 18.7548 17.7398 18.577C17.9099 18.489 18.076 18.3936 18.2377 18.291C18.2377 18.291 18.2927 18.2537 18.4002 18.174C18.5757 18.044 18.6836 17.9517 18.8292 17.7996C18.9384 17.6869 19.0294 17.5561 19.1022 17.407C19.2036 17.1951 19.305 16.7908 19.3466 16.4541C19.3778 16.1967 19.3687 16.0563 19.3648 15.9692C19.3596 15.8301 19.2439 15.6858 19.1178 15.6247L18.3612 15.2854C18.3612 15.2854 17.2302 14.7927 16.5386 14.4781C16.4662 14.4466 16.3887 14.4285 16.3098 14.4248C16.2209 14.4155 16.1309 14.4254 16.0462 14.4539C15.9614 14.4824 15.8837 14.5288 15.8184 14.5899C15.8119 14.5873 15.7248 14.6614 14.7849 15.8002C14.731 15.8727 14.6567 15.9275 14.5715 15.9576C14.4863 15.9877 14.394 15.9917 14.3065 15.9692C14.2218 15.9466 14.1388 15.9179 14.0582 15.8834C13.897 15.8158 13.8411 15.7898 13.7306 15.743C12.9842 15.4179 12.2934 14.9779 11.6831 14.4391C11.5193 14.2961 11.3672 14.1401 11.2112 13.9893C10.6998 13.4995 10.2541 12.9454 9.88521 12.3409L9.80851 12.2174C9.75425 12.1339 9.70976 12.0445 9.67591 11.9509C9.62651 11.7598 9.75521 11.6064 9.75521 11.6064C9.75521 11.6064 10.0711 11.2606 10.218 11.0734C10.361 10.8914 10.4819 10.7146 10.5599 10.5885C10.7133 10.3415 10.7614 10.088 10.6808 9.89169C10.3168 9.00249 9.94068 8.11806 9.55241 7.23839C9.47571 7.06419 9.24821 6.93939 9.04151 6.91469C8.97131 6.90603 8.90111 6.89909 8.83091 6.89389C8.65636 6.88388 8.48133 6.88562 8.30701 6.8991L8.56961 6.89Z" fill="white"/>
                            </svg>
                            span Записаться на бесплатную консультацию врача

                        button(type="button").arrow-btn.h-under
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                            <path d="M13.5303 6.53033C13.8232 6.23744 13.8232 5.76256 13.5303 5.46967L8.75736 0.696699C8.46447 0.403806 7.98959 0.403806 7.6967 0.696699C7.40381 0.989593 7.40381 1.46447 7.6967 1.75736L11.9393 6L7.6967 10.2426C7.40381 10.5355 7.40381 11.0104 7.6967 11.3033C7.98959 11.5962 8.46447 11.5962 8.75736 11.3033L13.5303 6.53033ZM0 6V6.75H13V6V5.25H0V6Z" fill="#DD905A"/>
                            </svg>

                            span Почитать больше о враче

                .spec-tab-container-box(data-t="2")
                    h3.doctor-name Сайк Павел
                    span.doctor-pos Ведущий пластический хирург, кандидат мед. наук

                    .doctor-actions
                        button(type="button").ic-btn.ic-btn--orange
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                            <path d="M13 0C20.1799 0 26 5.8201 26 13C26 20.1799 20.1799 26 13 26C10.7026 26.0039 8.44557 25.3959 6.46102 24.2385L0.00522009 26L1.76282 19.5416C0.604466 17.5564 -0.00400611 15.2984 1.98493e-05 13C1.98493e-05 5.8201 5.82012 0 13 0ZM8.56961 6.89L8.30961 6.90039C8.14151 6.91198 7.97727 6.95613 7.82601 7.03039C7.68506 7.11036 7.55634 7.21018 7.44381 7.32679C7.28781 7.47369 7.19941 7.60109 7.10451 7.72459C6.62367 8.34977 6.36478 9.1173 6.36872 9.90599C6.37132 10.543 6.53771 11.1631 6.79771 11.7429C7.32941 12.9155 8.20431 14.157 9.35871 15.3075C9.63691 15.5844 9.90991 15.8626 10.2037 16.1213C11.6382 17.3841 13.3475 18.2948 15.1957 18.7811L15.9341 18.8942C16.1746 18.9072 16.4151 18.889 16.6569 18.8773C17.0354 18.8573 17.405 18.7548 17.7398 18.577C17.9099 18.489 18.076 18.3936 18.2377 18.291C18.2377 18.291 18.2927 18.2537 18.4002 18.174C18.5757 18.044 18.6836 17.9517 18.8292 17.7996C18.9384 17.6869 19.0294 17.5561 19.1022 17.407C19.2036 17.1951 19.305 16.7908 19.3466 16.4541C19.3778 16.1967 19.3687 16.0563 19.3648 15.9692C19.3596 15.8301 19.2439 15.6858 19.1178 15.6247L18.3612 15.2854C18.3612 15.2854 17.2302 14.7927 16.5386 14.4781C16.4662 14.4466 16.3887 14.4285 16.3098 14.4248C16.2209 14.4155 16.1309 14.4254 16.0462 14.4539C15.9614 14.4824 15.8837 14.5288 15.8184 14.5899C15.8119 14.5873 15.7248 14.6614 14.7849 15.8002C14.731 15.8727 14.6567 15.9275 14.5715 15.9576C14.4863 15.9877 14.394 15.9917 14.3065 15.9692C14.2218 15.9466 14.1388 15.9179 14.0582 15.8834C13.897 15.8158 13.8411 15.7898 13.7306 15.743C12.9842 15.4179 12.2934 14.9779 11.6831 14.4391C11.5193 14.2961 11.3672 14.1401 11.2112 13.9893C10.6998 13.4995 10.2541 12.9454 9.88521 12.3409L9.80851 12.2174C9.75425 12.1339 9.70976 12.0445 9.67591 11.9509C9.62651 11.7598 9.75521 11.6064 9.75521 11.6064C9.75521 11.6064 10.0711 11.2606 10.218 11.0734C10.361 10.8914 10.4819 10.7146 10.5599 10.5885C10.7133 10.3415 10.7614 10.088 10.6808 9.89169C10.3168 9.00249 9.94068 8.11806 9.55241 7.23839C9.47571 7.06419 9.24821 6.93939 9.04151 6.91469C8.97131 6.90603 8.90111 6.89909 8.83091 6.89389C8.65636 6.88388 8.48133 6.88562 8.30701 6.8991L8.56961 6.89Z" fill="white"/>
                            </svg>
                            span Записаться на бесплатную консультацию врача

                        button(type="button").arrow-btn.h-under
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                            <path d="M13.5303 6.53033C13.8232 6.23744 13.8232 5.76256 13.5303 5.46967L8.75736 0.696699C8.46447 0.403806 7.98959 0.403806 7.6967 0.696699C7.40381 0.989593 7.40381 1.46447 7.6967 1.75736L11.9393 6L7.6967 10.2426C7.40381 10.5355 7.40381 11.0104 7.6967 11.3033C7.98959 11.5962 8.46447 11.5962 8.75736 11.3033L13.5303 6.53033ZM0 6V6.75H13V6V5.25H0V6Z" fill="#DD905A"/>
                            </svg>

                            span Почитать больше о враче


        .spec-tab-container
            .spec-tab-container-box(data-t="1").active
                .spec__doctor-col
                    img(src="img/doctor-xl-1.png" alt="#")
                    .color-tiles
                        .color-tile
                            span Стаж работы
                            strong 18 лет

                        .color-tile
                            span Проведено операций
                            strong > 500

            .spec-tab-container-box(data-t="2")
                .spec__doctor-col
                    img(src="img/doctor-xl-1.png" alt="#")
                    .color-tiles
                        .color-tile
                            span Стаж работы
                            strong 20 лет

                        .color-tile
                            span Проведено операций
                            strong > 1000

        .spec-tab-container
            .spec-tab-container-box(data-t="1").active
                .doctor-actions__mob
                    button(type="button").ic-btn.ic-btn--orange
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                        <path d="M13 0C20.1799 0 26 5.8201 26 13C26 20.1799 20.1799 26 13 26C10.7026 26.0039 8.44557 25.3959 6.46102 24.2385L0.00522009 26L1.76282 19.5416C0.604466 17.5564 -0.00400611 15.2984 1.98493e-05 13C1.98493e-05 5.8201 5.82012 0 13 0ZM8.56961 6.89L8.30961 6.90039C8.14151 6.91198 7.97727 6.95613 7.82601 7.03039C7.68506 7.11036 7.55634 7.21018 7.44381 7.32679C7.28781 7.47369 7.19941 7.60109 7.10451 7.72459C6.62367 8.34977 6.36478 9.1173 6.36872 9.90599C6.37132 10.543 6.53771 11.1631 6.79771 11.7429C7.32941 12.9155 8.20431 14.157 9.35871 15.3075C9.63691 15.5844 9.90991 15.8626 10.2037 16.1213C11.6382 17.3841 13.3475 18.2948 15.1957 18.7811L15.9341 18.8942C16.1746 18.9072 16.4151 18.889 16.6569 18.8773C17.0354 18.8573 17.405 18.7548 17.7398 18.577C17.9099 18.489 18.076 18.3936 18.2377 18.291C18.2377 18.291 18.2927 18.2537 18.4002 18.174C18.5757 18.044 18.6836 17.9517 18.8292 17.7996C18.9384 17.6869 19.0294 17.5561 19.1022 17.407C19.2036 17.1951 19.305 16.7908 19.3466 16.4541C19.3778 16.1967 19.3687 16.0563 19.3648 15.9692C19.3596 15.8301 19.2439 15.6858 19.1178 15.6247L18.3612 15.2854C18.3612 15.2854 17.2302 14.7927 16.5386 14.4781C16.4662 14.4466 16.3887 14.4285 16.3098 14.4248C16.2209 14.4155 16.1309 14.4254 16.0462 14.4539C15.9614 14.4824 15.8837 14.5288 15.8184 14.5899C15.8119 14.5873 15.7248 14.6614 14.7849 15.8002C14.731 15.8727 14.6567 15.9275 14.5715 15.9576C14.4863 15.9877 14.394 15.9917 14.3065 15.9692C14.2218 15.9466 14.1388 15.9179 14.0582 15.8834C13.897 15.8158 13.8411 15.7898 13.7306 15.743C12.9842 15.4179 12.2934 14.9779 11.6831 14.4391C11.5193 14.2961 11.3672 14.1401 11.2112 13.9893C10.6998 13.4995 10.2541 12.9454 9.88521 12.3409L9.80851 12.2174C9.75425 12.1339 9.70976 12.0445 9.67591 11.9509C9.62651 11.7598 9.75521 11.6064 9.75521 11.6064C9.75521 11.6064 10.0711 11.2606 10.218 11.0734C10.361 10.8914 10.4819 10.7146 10.5599 10.5885C10.7133 10.3415 10.7614 10.088 10.6808 9.89169C10.3168 9.00249 9.94068 8.11806 9.55241 7.23839C9.47571 7.06419 9.24821 6.93939 9.04151 6.91469C8.97131 6.90603 8.90111 6.89909 8.83091 6.89389C8.65636 6.88388 8.48133 6.88562 8.30701 6.8991L8.56961 6.89Z" fill="white"/>
                        </svg>
                        span Записаться на бесплатную консультацию врача

                    button(type="button").arrow-btn.h-under
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                        <path d="M13.5303 6.53033C13.8232 6.23744 13.8232 5.76256 13.5303 5.46967L8.75736 0.696699C8.46447 0.403806 7.98959 0.403806 7.6967 0.696699C7.40381 0.989593 7.40381 1.46447 7.6967 1.75736L11.9393 6L7.6967 10.2426C7.40381 10.5355 7.40381 11.0104 7.6967 11.3033C7.98959 11.5962 8.46447 11.5962 8.75736 11.3033L13.5303 6.53033ZM0 6V6.75H13V6V5.25H0V6Z" fill="#DD905A"/>
                        </svg>

                        span Почитать больше о враче

            .spec-tab-container-box(data-t="2")
                .doctor-actions__mob
                    button(type="button").ic-btn.ic-btn--orange
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                        <path d="M13 0C20.1799 0 26 5.8201 26 13C26 20.1799 20.1799 26 13 26C10.7026 26.0039 8.44557 25.3959 6.46102 24.2385L0.00522009 26L1.76282 19.5416C0.604466 17.5564 -0.00400611 15.2984 1.98493e-05 13C1.98493e-05 5.8201 5.82012 0 13 0ZM8.56961 6.89L8.30961 6.90039C8.14151 6.91198 7.97727 6.95613 7.82601 7.03039C7.68506 7.11036 7.55634 7.21018 7.44381 7.32679C7.28781 7.47369 7.19941 7.60109 7.10451 7.72459C6.62367 8.34977 6.36478 9.1173 6.36872 9.90599C6.37132 10.543 6.53771 11.1631 6.79771 11.7429C7.32941 12.9155 8.20431 14.157 9.35871 15.3075C9.63691 15.5844 9.90991 15.8626 10.2037 16.1213C11.6382 17.3841 13.3475 18.2948 15.1957 18.7811L15.9341 18.8942C16.1746 18.9072 16.4151 18.889 16.6569 18.8773C17.0354 18.8573 17.405 18.7548 17.7398 18.577C17.9099 18.489 18.076 18.3936 18.2377 18.291C18.2377 18.291 18.2927 18.2537 18.4002 18.174C18.5757 18.044 18.6836 17.9517 18.8292 17.7996C18.9384 17.6869 19.0294 17.5561 19.1022 17.407C19.2036 17.1951 19.305 16.7908 19.3466 16.4541C19.3778 16.1967 19.3687 16.0563 19.3648 15.9692C19.3596 15.8301 19.2439 15.6858 19.1178 15.6247L18.3612 15.2854C18.3612 15.2854 17.2302 14.7927 16.5386 14.4781C16.4662 14.4466 16.3887 14.4285 16.3098 14.4248C16.2209 14.4155 16.1309 14.4254 16.0462 14.4539C15.9614 14.4824 15.8837 14.5288 15.8184 14.5899C15.8119 14.5873 15.7248 14.6614 14.7849 15.8002C14.731 15.8727 14.6567 15.9275 14.5715 15.9576C14.4863 15.9877 14.394 15.9917 14.3065 15.9692C14.2218 15.9466 14.1388 15.9179 14.0582 15.8834C13.897 15.8158 13.8411 15.7898 13.7306 15.743C12.9842 15.4179 12.2934 14.9779 11.6831 14.4391C11.5193 14.2961 11.3672 14.1401 11.2112 13.9893C10.6998 13.4995 10.2541 12.9454 9.88521 12.3409L9.80851 12.2174C9.75425 12.1339 9.70976 12.0445 9.67591 11.9509C9.62651 11.7598 9.75521 11.6064 9.75521 11.6064C9.75521 11.6064 10.0711 11.2606 10.218 11.0734C10.361 10.8914 10.4819 10.7146 10.5599 10.5885C10.7133 10.3415 10.7614 10.088 10.6808 9.89169C10.3168 9.00249 9.94068 8.11806 9.55241 7.23839C9.47571 7.06419 9.24821 6.93939 9.04151 6.91469C8.97131 6.90603 8.90111 6.89909 8.83091 6.89389C8.65636 6.88388 8.48133 6.88562 8.30701 6.8991L8.56961 6.89Z" fill="white"/>
                        </svg>
                        span Записаться на бесплатную консультацию врача

                    button(type="button").arrow-btn.h-under
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                        <path d="M13.5303 6.53033C13.8232 6.23744 13.8232 5.76256 13.5303 5.46967L8.75736 0.696699C8.46447 0.403806 7.98959 0.403806 7.6967 0.696699C7.40381 0.989593 7.40381 1.46447 7.6967 1.75736L11.9393 6L7.6967 10.2426C7.40381 10.5355 7.40381 11.0104 7.6967 11.3033C7.98959 11.5962 8.46447 11.5962 8.75736 11.3033L13.5303 6.53033ZM0 6V6.75H13V6V5.25H0V6Z" fill="#DD905A"/>
                        </svg>

                        span Почитать больше о враче