section.implants-section.container
    .implants-section__content
        h2 Виды имплантов для груди

        .swiper.implants-slider
            .swiper-wrapper
                .swiper-slide.implants-slide
                    .imp-img.hit
                        .iwp
                            img(src="img/i1.png" alt="#")

                    .imp-title Круглые

                    .imp-descr Круглые микротекстурированные имплантаты — наиболее часто используемый тип имплантатов во всём мире. Большим плюсом данной модификации является её универсальность и крайне низкий процент нежелательных явлений и осложнений.

                .swiper-slide.implants-slide
                    .imp-img
                        .iwp
                            img(src="img/i2.png" alt="#")

                    .imp-title Анатомические

                    .imp-descr Анатомические импланты дают максимальную естественность. Недостатками анатомических имплантатов являются их относительно большая плотность, чем круглых, и возможность ротации, т. е. поворота в тканях с последующей деформацией формы. Важно отметить, что ротация анатомического имплантата — это крайне редкое явление.

                .swiper-slide.implants-slide
                    .imp-img
                        .iwp
                            img(src="img/i3.png" alt="#")

                    .imp-title Эргономические

                    .imp-descr Плюс эргономических имплантатов - наибольшая мягкость, но это является и минусом, поскольку ограничивает их использование при крайне малом объёме собственных тканей и при одномоментных подтяжках. Также большим ограничением использования является особенность их покрытия — «нанотекстурированное»