section.we-care-section
    .container
        .we-care-section__grid.top-divider.bottom-divider
            .intro Мы заботимся о наших клиентах

            .manc
                h2 Бесплатное годовое послеоперационное наблюдение!
                p После операции мы предоставляем нашим пациентам бесплатное годовое обслуживание, наблюдение и поддержку у хирургов и персонала клиники по всем вопросам, связанным с вашей пластической операцией.