section.accord-sec.container
    .s-intro-col
        h2 Как выполняется операция по увеличению груди

    .s-accorderon
        .s-accorderon__item
            .s-accorderon__head
                span Реабилитация в стационаре

                .ic

            .s-accorderon__body
                ul
                    li Во время восстановительного периода пациенту предписывается ношение компрессионного белья (если потребуется), прием некоторых медицинских препаратов и ограничение физической активности. Спустя два-три месяца после операции врач проводит финальный осмотр и оценку результатов.
                    li Для успешной реабилитации имеет значение соблюдение диеты. Меню должно включать блюда с достаточным количеством белка, являющегося строительным материалом всех клеток и тканей. Рекомендованы мясо нежирных сортов (курица, индейка, кролик), рыба, яйца, икра. Полезны орехи и оливковое масло. Не рекомендуются жареные и острые блюда, а также фастфуд. Большое значение имеет соблюдение питьевого режима, в период восстановления полезны зеленый чай, морсы и несладкие компоты. От употребления крепкого чая и кофе лучше отказаться. Рекомендованный объем употребляемой жидкости составляет 1–1,5 литра в сутки.
                    li Спустя месяц действует ряд ограничений, например на поднятие тяжестей, интенсивные занятия спортом, прием солнечных ванн в солярии или на пляже, вождение автомобиля. Срок действия ограничений составляет от 2 до 6 месяцев, более точные рекомендации можно получить у врача.
                    li После увеличения груди действует также запрет на резкое изменение веса. Набор лишних килограммов приводит к появлению растяжек и обвисанию груди, а похудение – к выступу имплантов по краю.
                    li Спустя месяц после операции пациентка должна посетить врача для оценки полученного результата. К этому времени окончательно спадает отечность, уходит ощущение боли и дискомфорта, есть возможность оценить новую форму и размер груди. После осмотра у врача снимаются некоторые запреты, но не рекомендуются тяжелые физические нагрузки. Компрессионное белье заменяют мягкими поддерживающими бюстгальтерами без косточек.
                    li Реабилитационный период считается законченным спустя 4–6 месяцев. В это время можно делать вывод об окончательном приживлении имплантов и приобретении грудью объема и привлекательной формы. Все ограничения снимаются, однако следует беречь область грудной клетки от прямого попадания солнечных лучей.
                    li В ходе всего раннего и позднего реабилитационного периода пациентка должна находиться под наблюдением пластического хирурга для контроля состояния груди и общего самочувствия

        .s-accorderon__item
            .s-accorderon__head
                span Лабораторные исследования

                .ic

            .s-accorderon__body
                ul
                    li Во время восстановительного периода пациенту предписывается ношение компрессионного белья (если потребуется), прием некоторых медицинских препаратов и ограничение физической активности. Спустя два-три месяца после операции врач проводит финальный осмотр и оценку результатов.
                    li Для успешной реабилитации имеет значение соблюдение диеты. Меню должно включать блюда с достаточным количеством белка, являющегося строительным материалом всех клеток и тканей. Рекомендованы мясо нежирных сортов (курица, индейка, кролик), рыба, яйца, икра. Полезны орехи и оливковое масло. Не рекомендуются жареные и острые блюда, а также фастфуд. Большое значение имеет соблюдение питьевого режима, в период восстановления полезны зеленый чай, морсы и несладкие компоты. От употребления крепкого чая и кофе лучше отказаться. Рекомендованный объем употребляемой жидкости составляет 1–1,5 литра в сутки.
                    li Спустя месяц действует ряд ограничений, например на поднятие тяжестей, интенсивные занятия спортом, прием солнечных ванн в солярии или на пляже, вождение автомобиля. Срок действия ограничений составляет от 2 до 6 месяцев, более точные рекомендации можно получить у врача.
                    li После увеличения груди действует также запрет на резкое изменение веса. Набор лишних килограммов приводит к появлению растяжек и обвисанию груди, а похудение – к выступу имплантов по краю.
                    li Спустя месяц после операции пациентка должна посетить врача для оценки полученного результата. К этому времени окончательно спадает отечность, уходит ощущение боли и дискомфорта, есть возможность оценить новую форму и размер груди. После осмотра у врача снимаются некоторые запреты, но не рекомендуются тяжелые физические нагрузки. Компрессионное белье заменяют мягкими поддерживающими бюстгальтерами без косточек.
                    li Реабилитационный период считается законченным спустя 4–6 месяцев. В это время можно делать вывод об окончательном приживлении имплантов и приобретении грудью объема и привлекательной формы. Все ограничения снимаются, однако следует беречь область грудной клетки от прямого попадания солнечных лучей.
                    li В ходе всего раннего и позднего реабилитационного периода пациентка должна находиться под наблюдением пластического хирурга для контроля состояния груди и общего самочувствия

        .s-accorderon__item
            .s-accorderon__head
                span Подготовка к операции

                .ic

            .s-accorderon__body
                ul
                    li Во время восстановительного периода пациенту предписывается ношение компрессионного белья (если потребуется), прием некоторых медицинских препаратов и ограничение физической активности. Спустя два-три месяца после операции врач проводит финальный осмотр и оценку результатов.
                    li Для успешной реабилитации имеет значение соблюдение диеты. Меню должно включать блюда с достаточным количеством белка, являющегося строительным материалом всех клеток и тканей. Рекомендованы мясо нежирных сортов (курица, индейка, кролик), рыба, яйца, икра. Полезны орехи и оливковое масло. Не рекомендуются жареные и острые блюда, а также фастфуд. Большое значение имеет соблюдение питьевого режима, в период восстановления полезны зеленый чай, морсы и несладкие компоты. От употребления крепкого чая и кофе лучше отказаться. Рекомендованный объем употребляемой жидкости составляет 1–1,5 литра в сутки.
                    li Спустя месяц действует ряд ограничений, например на поднятие тяжестей, интенсивные занятия спортом, прием солнечных ванн в солярии или на пляже, вождение автомобиля. Срок действия ограничений составляет от 2 до 6 месяцев, более точные рекомендации можно получить у врача.
                    li После увеличения груди действует также запрет на резкое изменение веса. Набор лишних килограммов приводит к появлению растяжек и обвисанию груди, а похудение – к выступу имплантов по краю.
                    li Спустя месяц после операции пациентка должна посетить врача для оценки полученного результата. К этому времени окончательно спадает отечность, уходит ощущение боли и дискомфорта, есть возможность оценить новую форму и размер груди. После осмотра у врача снимаются некоторые запреты, но не рекомендуются тяжелые физические нагрузки. Компрессионное белье заменяют мягкими поддерживающими бюстгальтерами без косточек.
                    li Реабилитационный период считается законченным спустя 4–6 месяцев. В это время можно делать вывод об окончательном приживлении имплантов и приобретении грудью объема и привлекательной формы. Все ограничения снимаются, однако следует беречь область грудной клетки от прямого попадания солнечных лучей.
                    li В ходе всего раннего и позднего реабилитационного периода пациентка должна находиться под наблюдением пластического хирурга для контроля состояния груди и общего самочувствия

        .s-accorderon__item
            .s-accorderon__head
                span Операция

                .ic

            .s-accorderon__body
                ul
                    li Во время восстановительного периода пациенту предписывается ношение компрессионного белья (если потребуется), прием некоторых медицинских препаратов и ограничение физической активности. Спустя два-три месяца после операции врач проводит финальный осмотр и оценку результатов.
                    li Для успешной реабилитации имеет значение соблюдение диеты. Меню должно включать блюда с достаточным количеством белка, являющегося строительным материалом всех клеток и тканей. Рекомендованы мясо нежирных сортов (курица, индейка, кролик), рыба, яйца, икра. Полезны орехи и оливковое масло. Не рекомендуются жареные и острые блюда, а также фастфуд. Большое значение имеет соблюдение питьевого режима, в период восстановления полезны зеленый чай, морсы и несладкие компоты. От употребления крепкого чая и кофе лучше отказаться. Рекомендованный объем употребляемой жидкости составляет 1–1,5 литра в сутки.
                    li Спустя месяц действует ряд ограничений, например на поднятие тяжестей, интенсивные занятия спортом, прием солнечных ванн в солярии или на пляже, вождение автомобиля. Срок действия ограничений составляет от 2 до 6 месяцев, более точные рекомендации можно получить у врача.
                    li После увеличения груди действует также запрет на резкое изменение веса. Набор лишних килограммов приводит к появлению растяжек и обвисанию груди, а похудение – к выступу имплантов по краю.
                    li Спустя месяц после операции пациентка должна посетить врача для оценки полученного результата. К этому времени окончательно спадает отечность, уходит ощущение боли и дискомфорта, есть возможность оценить новую форму и размер груди. После осмотра у врача снимаются некоторые запреты, но не рекомендуются тяжелые физические нагрузки. Компрессионное белье заменяют мягкими поддерживающими бюстгальтерами без косточек.
                    li Реабилитационный период считается законченным спустя 4–6 месяцев. В это время можно делать вывод об окончательном приживлении имплантов и приобретении грудью объема и привлекательной формы. Все ограничения снимаются, однако следует беречь область грудной клетки от прямого попадания солнечных лучей.
                    li В ходе всего раннего и позднего реабилитационного периода пациентка должна находиться под наблюдением пластического хирурга для контроля состояния груди и общего самочувствия

        .s-accorderon__item
            .s-accorderon__head
                span Реабилитация в стационаре

                .ic

            .s-accorderon__body
                ul
                    li Во время восстановительного периода пациенту предписывается ношение компрессионного белья (если потребуется), прием некоторых медицинских препаратов и ограничение физической активности. Спустя два-три месяца после операции врач проводит финальный осмотр и оценку результатов.
                    li Для успешной реабилитации имеет значение соблюдение диеты. Меню должно включать блюда с достаточным количеством белка, являющегося строительным материалом всех клеток и тканей. Рекомендованы мясо нежирных сортов (курица, индейка, кролик), рыба, яйца, икра. Полезны орехи и оливковое масло. Не рекомендуются жареные и острые блюда, а также фастфуд. Большое значение имеет соблюдение питьевого режима, в период восстановления полезны зеленый чай, морсы и несладкие компоты. От употребления крепкого чая и кофе лучше отказаться. Рекомендованный объем употребляемой жидкости составляет 1–1,5 литра в сутки.
                    li Спустя месяц действует ряд ограничений, например на поднятие тяжестей, интенсивные занятия спортом, прием солнечных ванн в солярии или на пляже, вождение автомобиля. Срок действия ограничений составляет от 2 до 6 месяцев, более точные рекомендации можно получить у врача.
                    li После увеличения груди действует также запрет на резкое изменение веса. Набор лишних килограммов приводит к появлению растяжек и обвисанию груди, а похудение – к выступу имплантов по краю.
                    li Спустя месяц после операции пациентка должна посетить врача для оценки полученного результата. К этому времени окончательно спадает отечность, уходит ощущение боли и дискомфорта, есть возможность оценить новую форму и размер груди. После осмотра у врача снимаются некоторые запреты, но не рекомендуются тяжелые физические нагрузки. Компрессионное белье заменяют мягкими поддерживающими бюстгальтерами без косточек.
                    li Реабилитационный период считается законченным спустя 4–6 месяцев. В это время можно делать вывод об окончательном приживлении имплантов и приобретении грудью объема и привлекательной формы. Все ограничения снимаются, однако следует беречь область грудной клетки от прямого попадания солнечных лучей.
                    li В ходе всего раннего и позднего реабилитационного периода пациентка должна находиться под наблюдением пластического хирурга для контроля состояния груди и общего самочувствия


        .s-accorderon__item
            .s-accorderon__head
                span Восстановительный период

                .ic

            .s-accorderon__body
                ul
                    li Во время восстановительного периода пациенту предписывается ношение компрессионного белья (если потребуется), прием некоторых медицинских препаратов и ограничение физической активности. Спустя два-три месяца после операции врач проводит финальный осмотр и оценку результатов.
                    li Для успешной реабилитации имеет значение соблюдение диеты. Меню должно включать блюда с достаточным количеством белка, являющегося строительным материалом всех клеток и тканей. Рекомендованы мясо нежирных сортов (курица, индейка, кролик), рыба, яйца, икра. Полезны орехи и оливковое масло. Не рекомендуются жареные и острые блюда, а также фастфуд. Большое значение имеет соблюдение питьевого режима, в период восстановления полезны зеленый чай, морсы и несладкие компоты. От употребления крепкого чая и кофе лучше отказаться. Рекомендованный объем употребляемой жидкости составляет 1–1,5 литра в сутки.
                    li Спустя месяц действует ряд ограничений, например на поднятие тяжестей, интенсивные занятия спортом, прием солнечных ванн в солярии или на пляже, вождение автомобиля. Срок действия ограничений составляет от 2 до 6 месяцев, более точные рекомендации можно получить у врача.
                    li После увеличения груди действует также запрет на резкое изменение веса. Набор лишних килограммов приводит к появлению растяжек и обвисанию груди, а похудение – к выступу имплантов по краю.
                    li Спустя месяц после операции пациентка должна посетить врача для оценки полученного результата. К этому времени окончательно спадает отечность, уходит ощущение боли и дискомфорта, есть возможность оценить новую форму и размер груди. После осмотра у врача снимаются некоторые запреты, но не рекомендуются тяжелые физические нагрузки. Компрессионное белье заменяют мягкими поддерживающими бюстгальтерами без косточек.
                    li Реабилитационный период считается законченным спустя 4–6 месяцев. В это время можно делать вывод об окончательном приживлении имплантов и приобретении грудью объема и привлекательной формы. Все ограничения снимаются, однако следует беречь область грудной клетки от прямого попадания солнечных лучей.
                    li В ходе всего раннего и позднего реабилитационного периода пациентка должна находиться под наблюдением пластического хирурга для контроля состояния груди и общего самочувствия
