section.hero-section.container
    ul.breadcrumbs
        li
            a(href="#").h-under Услуги
        li
            a(href="#").h-under Маммопластика
        li
            span Увеличение груди имплантами


    .hero-section__content-grid
        .hero-section__content
            h1 Увеличение груди имплантами

            p.subtitle Высококвалифицированные хирурги с опытом работы более 18 лет

            .color-tiles
                .color-tile
                    span Реабилитационный период
                    strong 1-2 месяца

                .color-tile
                    span Стоимость
                    strong от 1 500 000₸

            .hero-section__actions
                button(type="button").arrow-btn.h-under
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                    <path d="M13.5303 6.53033C13.8232 6.23744 13.8232 5.76256 13.5303 5.46967L8.75736 0.696699C8.46447 0.403806 7.98959 0.403806 7.6967 0.696699C7.40381 0.989593 7.40381 1.46447 7.6967 1.75736L11.9393 6L7.6967 10.2426C7.40381 10.5355 7.40381 11.0104 7.6967 11.3033C7.98959 11.5962 8.46447 11.5962 8.75736 11.3033L13.5303 6.53033ZM0 6V6.75H13V6V5.25H0V6Z" fill="#DD905A"/>
                    </svg>

                    span Записаться

                a(href="tel: +7 700 222 2207").btn-circle.btn-circle--xl
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 0C15.523 0 20 4.477 20 10C20 15.523 15.523 20 10 20C8.23277 20.003 6.4966 19.5353 4.97002 18.645L0.00401546 20L1.35602 15.032C0.464974 13.5049 -0.00308163 11.768 1.52687e-05 10C1.52687e-05 4.477 4.47702 0 10 0ZM6.59202 5.3L6.39201 5.308C6.26271 5.31691 6.13636 5.35087 6.02002 5.408C5.91159 5.46951 5.81258 5.5463 5.72602 5.636C5.60602 5.749 5.53802 5.847 5.46502 5.942C5.09514 6.4229 4.89599 7.01331 4.89902 7.62C4.90102 8.11 5.02902 8.587 5.22902 9.033C5.63802 9.935 6.31102 10.89 7.19902 11.775C7.41302 11.988 7.62302 12.202 7.84902 12.401C8.95245 13.3724 10.2673 14.073 11.689 14.447L12.257 14.534C12.442 14.544 12.627 14.53 12.813 14.521C13.1042 14.5056 13.3885 14.4268 13.646 14.29C13.7769 14.2223 13.9047 14.1489 14.029 14.07C14.029 14.07 14.0714 14.0413 14.154 13.98C14.289 13.88 14.372 13.809 14.484 13.692C14.568 13.6053 14.638 13.5047 14.694 13.39C14.772 13.227 14.85 12.916 14.882 12.657C14.906 12.459 14.899 12.351 14.896 12.284C14.892 12.177 14.803 12.066 14.706 12.019L14.124 11.758C14.124 11.758 13.254 11.379 12.722 11.137C12.6663 11.1128 12.6067 11.0989 12.546 11.096C12.4776 11.0888 12.4084 11.0965 12.3432 11.1184C12.278 11.1403 12.2182 11.176 12.168 11.223C12.163 11.221 12.096 11.278 11.373 12.154C11.3315 12.2098 11.2744 12.2519 11.2088 12.2751C11.1433 12.2982 11.0723 12.3013 11.005 12.284C10.9398 12.2666 10.876 12.2446 10.814 12.218C10.69 12.166 10.647 12.146 10.562 12.11C9.98789 11.8599 9.45646 11.5215 8.98702 11.107C8.86102 10.997 8.74402 10.877 8.62402 10.761C8.23063 10.3842 7.88777 9.95799 7.60401 9.493L7.54501 9.398C7.50328 9.3338 7.46905 9.26501 7.44302 9.193C7.40502 9.046 7.50402 8.928 7.50402 8.928C7.50402 8.928 7.74702 8.662 7.86002 8.518C7.97002 8.378 8.06301 8.242 8.12302 8.145C8.24102 7.955 8.27802 7.76 8.21602 7.609C7.93602 6.925 7.64668 6.24467 7.34802 5.568C7.28902 5.434 7.11402 5.338 6.95502 5.319C6.90102 5.31233 6.84701 5.307 6.79302 5.303C6.65874 5.2953 6.52411 5.29664 6.39002 5.307L6.59202 5.3Z" fill="#DD905A"/>
                    </svg>

                a(href="tel: +7 700 222 2207").btn-circle.btn-circle--xl
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                    <path d="M11.0797 9.623L10.6782 10.0227C10.6782 10.0227 9.7226 10.9721 7.11523 8.37976C4.50785 5.78738 5.46345 4.83796 5.46345 4.83796L5.7158 4.58561C6.33963 3.96619 6.39875 2.97089 5.85433 2.24382L4.74256 0.758812C4.06844 -0.141196 2.76695 -0.260314 1.99489 0.507339L0.609584 1.88382C0.227522 2.265 -0.0283626 2.75736 0.00252002 3.30442C0.0819324 4.70473 0.715467 7.71622 4.24844 11.2298C7.99582 14.9551 11.512 15.1033 12.9494 14.9692C13.4047 14.9269 13.8 14.6957 14.1185 14.378L15.3715 13.1321C16.2185 12.2913 15.9803 10.8486 14.8968 10.2601L13.2115 9.34329C12.5003 8.9577 11.6356 9.07065 11.0797 9.623Z" fill="#DD905A"/>
                    </svg>



        .hero-section__video
            .video-wrapper-before
                .video-wrapper
                    video.video(src="./2795405-uhd_2160_3840_25fps.mp4", muted)
                    button.play-btn
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                        <path d="M10.123 4.86515C11.4564 5.63495 11.4564 7.55945 10.123 8.32925L3.82271 11.9668C2.48937 12.7366 0.822706 11.7743 0.822706 10.2347V2.95969C0.822706 1.42009 2.48937 0.457845 3.82271 1.22765L10.123 4.86515Z" fill="white"/>
                        </svg>
                    .progressbar
                        .progress
