extends layouts/default
include helpers/mixins

block variables
    - const title = "gulp-pug-starter"

block content
    include ../blocks/modules/header/header

    include ../blocks/sections/hero-section/hero-section
    include ../blocks/sections/we-care-section/we-care-section
    include ../blocks/sections/video-reviews-section/video-reviews-section



    include ../blocks/modules/footer/footer

block scripts
    script(src="js/inputmask.min.js")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script(src="js/main.js")