section.includes-section.container.slider-container
    h2 Где может распологаться имплант

    .w-im-slider.swiper
        .swiper-wrapper
            .swiper-slide.w-im-slide
                img(src="img/geleza.svg" alt="#")
                span Под железой
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21967 8.21967C5.51256 7.92678 5.98744 7.92678 6.28033 8.21967L10 11.9393L13.7197 8.21967C14.0126 7.92678 14.4874 7.92678 14.7803 8.21967C15.0732 8.51256 15.0732 8.98744 14.7803 9.28033L10.5303 13.5303C10.3897 13.671 10.1989 13.75 10 13.75C9.80109 13.75 9.61032 13.671 9.46967 13.5303L5.21967 9.28033C4.92678 8.98744 4.92678 8.51256 5.21967 8.21967Z" fill="#27272A"/>
                    </svg>

                .hov-block
                    span Полный подмышечный карман
                    p Ложе под большой грудной мышцей наиболее часто используется при трансаксилярной маммопластике. Минусом является наличие анимационных деформаций – резкого смещения протезов в стороны и вверх при напряжении больших грудных мышц

            .swiper-slide.w-im-slide
                img(src="img/geleza.svg" alt="#")
                span Полный подмышечный карман
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21967 8.21967C5.51256 7.92678 5.98744 7.92678 6.28033 8.21967L10 11.9393L13.7197 8.21967C14.0126 7.92678 14.4874 7.92678 14.7803 8.21967C15.0732 8.51256 15.0732 8.98744 14.7803 9.28033L10.5303 13.5303C10.3897 13.671 10.1989 13.75 10 13.75C9.80109 13.75 9.61032 13.671 9.46967 13.5303L5.21967 9.28033C4.92678 8.98744 4.92678 8.51256 5.21967 8.21967Z" fill="#27272A"/>
                    </svg>

                .hov-block
                    span Полный подмышечный карман
                    p Ложе под большой грудной мышцей наиболее часто используется при трансаксилярной маммопластике. Минусом является наличие анимационных деформаций – резкого смещения протезов в стороны и вверх при напряжении больших грудных мышц


            .swiper-slide.w-im-slide
                img(src="img/geleza.svg" alt="#")
                span В двух плоскостях («dual plane»)
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21967 8.21967C5.51256 7.92678 5.98744 7.92678 6.28033 8.21967L10 11.9393L13.7197 8.21967C14.0126 7.92678 14.4874 7.92678 14.7803 8.21967C15.0732 8.51256 15.0732 8.98744 14.7803 9.28033L10.5303 13.5303C10.3897 13.671 10.1989 13.75 10 13.75C9.80109 13.75 9.61032 13.671 9.46967 13.5303L5.21967 9.28033C4.92678 8.98744 4.92678 8.51256 5.21967 8.21967Z" fill="#27272A"/>
                    </svg>

                .hov-block
                    span Полный подмышечный карман
                    p Ложе под большой грудной мышцей наиболее часто используется при трансаксилярной маммопластике. Минусом является наличие анимационных деформаций – резкого смещения протезов в стороны и вверх при напряжении больших грудных мышц


            .swiper-slide.w-im-slide
                img(src="img/geleza.svg" alt="#")
                span Под фасцией
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21967 8.21967C5.51256 7.92678 5.98744 7.92678 6.28033 8.21967L10 11.9393L13.7197 8.21967C14.0126 7.92678 14.4874 7.92678 14.7803 8.21967C15.0732 8.51256 15.0732 8.98744 14.7803 9.28033L10.5303 13.5303C10.3897 13.671 10.1989 13.75 10 13.75C9.80109 13.75 9.61032 13.671 9.46967 13.5303L5.21967 9.28033C4.92678 8.98744 4.92678 8.51256 5.21967 8.21967Z" fill="#27272A"/>
                    </svg>

                .hov-block
                    span Полный подмышечный карман
                    p Ложе под большой грудной мышцей наиболее часто используется при трансаксилярной маммопластике. Минусом является наличие анимационных деформаций – резкого смещения протезов в стороны и вверх при напряжении больших грудных мышц


            .swiper-slide.w-im-slide
                img(src="img/geleza.svg" alt="#")
                span Под железой
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21967 8.21967C5.51256 7.92678 5.98744 7.92678 6.28033 8.21967L10 11.9393L13.7197 8.21967C14.0126 7.92678 14.4874 7.92678 14.7803 8.21967C15.0732 8.51256 15.0732 8.98744 14.7803 9.28033L10.5303 13.5303C10.3897 13.671 10.1989 13.75 10 13.75C9.80109 13.75 9.61032 13.671 9.46967 13.5303L5.21967 9.28033C4.92678 8.98744 4.92678 8.51256 5.21967 8.21967Z" fill="#27272A"/>
                    </svg>

                .hov-block
                    span Полный подмышечный карман
                    p Ложе под большой грудной мышцей наиболее часто используется при трансаксилярной маммопластике. Минусом является наличие анимационных деформаций – резкого смещения протезов в стороны и вверх при напряжении больших грудных мышц


            .swiper-slide.w-im-slide
                img(src="img/geleza.svg" alt="#")
                span Под железой
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21967 8.21967C5.51256 7.92678 5.98744 7.92678 6.28033 8.21967L10 11.9393L13.7197 8.21967C14.0126 7.92678 14.4874 7.92678 14.7803 8.21967C15.0732 8.51256 15.0732 8.98744 14.7803 9.28033L10.5303 13.5303C10.3897 13.671 10.1989 13.75 10 13.75C9.80109 13.75 9.61032 13.671 9.46967 13.5303L5.21967 9.28033C4.92678 8.98744 4.92678 8.51256 5.21967 8.21967Z" fill="#27272A"/>
                    </svg>

                .hov-block
                    span Полный подмышечный карман
                    p Ложе под большой грудной мышцей наиболее часто используется при трансаксилярной маммопластике. Минусом является наличие анимационных деформаций – резкого смещения протезов в стороны и вверх при напряжении больших грудных мышц


    .slider-navs
        button(type="button").slider-nav.prev
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none">
            <path d="M0.46967 6.53033C0.176777 6.23744 0.176777 5.76256 0.46967 5.46967L5.24264 0.696699C5.53553 0.403806 6.01041 0.403806 6.3033 0.696699C6.59619 0.989593 6.59619 1.46447 6.3033 1.75736L2.06066 6L6.3033 10.2426C6.59619 10.5355 6.59619 11.0104 6.3033 11.3033C6.01041 11.5962 5.53553 11.5962 5.24264 11.3033L0.46967 6.53033ZM15 6V6.75H1V6V5.25H15V6Z" fill="#BBAB94"/>
            </svg>
        button(type="button").slider-nav.next
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none">
            <path d="M14.5303 6.53033C14.8232 6.23744 14.8232 5.76256 14.5303 5.46967L9.75736 0.696699C9.46447 0.403806 8.98959 0.403806 8.6967 0.696699C8.40381 0.989593 8.40381 1.46447 8.6967 1.75736L12.9393 6L8.6967 10.2426C8.40381 10.5355 8.40381 11.0104 8.6967 11.3033C8.98959 11.5962 9.46447 11.5962 9.75736 11.3033L14.5303 6.53033ZM0 6V6.75H14V6V5.25H0V6Z" fill="#BBAB94"/>
            </svg>