section.mamo-section.container
    .grafic-col
        .grafic
            img(src="img/gr1.svg" alt="#" data-gr="1").active
            img(src="img/gr2.svg" alt="#" data-gr="2")
            img(src="img/gr3.svg" alt="#" data-gr="3")

    .content-col
        h2 Доступы при маммопластике

        .gr-ac
            .gr-ac__item.active
                .gr-ac__head(data-gr="1")
                    .gr-img.hit
                        .n
                            span 1
                        img(src="img/gr1.svg" alt="#")

                    .num 1

                    span.hit Инфраммарный доступ (под грудью)

                .gr-ac__body
                    .fk
                    p При данном виде доступа разрез располагается под грудью, его длина составляет около 3-5 см (зависит от объёма устанавливаемых грудных имплантатов). Очевидный плюс этого доступа — максимальный контроль, стабильность положения субмаммарной складки, а соответственно, большая предсказуемость и прогнозируемость результата. При правильном планировании операции послеоперационный рубец практически незаметен (спрятан в естественной складке под грудью). Данный вид доступа наименее травматичен для молочной железы и является наиболее часто используемым хирургами во всём мире.

            .gr-ac__item
                .gr-ac__head(data-gr="2")
                    .gr-img
                        .n
                            span 2
                        img(src="img/gr2.svg" alt="#")

                    .num 2

                    span Периареолярный доступ (по краю ареолы)

                .gr-ac__body
                    .fk
                    p При данном виде доступа разрез располагается под грудью, его длина составляет около 3-5 см (зависит от объёма устанавливаемых грудных имплантатов). Очевидный плюс этого доступа — максимальный контроль, стабильность положения субмаммарной складки, а соответственно, большая предсказуемость и прогнозируемость результата. При правильном планировании операции послеоперационный рубец практически незаметен (спрятан в естественной складке под грудью). Данный вид доступа наименее травматичен для молочной железы и является наиболее часто используемым хирургами во всём мире.

            .gr-ac__item
                .gr-ac__head(data-gr="3")
                    .gr-img
                        .n
                            span 3
                        img(src="img/gr3.svg" alt="#")

                    .num 3

                    span Доступ в подмышечной области

                .gr-ac__body
                    .fk
                    p При данном виде доступа разрез располагается под грудью, его длина составляет около 3-5 см (зависит от объёма устанавливаемых грудных имплантатов). Очевидный плюс этого доступа — максимальный контроль, стабильность положения субмаммарной складки, а соответственно, большая предсказуемость и прогнозируемость результата. При правильном планировании операции послеоперационный рубец практически незаметен (спрятан в естественной складке под грудью). Данный вид доступа наименее травматичен для молочной железы и является наиболее часто используемым хирургами во всём мире.