.footer-bgs

footer.main-footer
    .main-footer--grid.main-footer__top.container
        .main-footer__top-nav
            a(href="#").logo
                img(src="img/logo.svg" alt="#")

            .main-footer__top-nav-cols
                ul.main-footer__top-nav-col
                    li
                        a(href="#") О клинике
                    li
                        a(href="#") Преимущества
                    li
                        a(href="#") Наше оборудование
                    li
                        a(href="#") Магазин
                    li
                        a(href="#") Контакты
                    li
                        a(href="#") Блог

                ul.main-footer__top-nav-col
                    li
                        a(href="#") Пластическая хирургия
                    li
                        a(href="#") Косметология
                    li
                        a(href="#") Эстетическая гинекология
                    li
                        a(href="#") Сосудистая хирургия
                    li
                        a(href="#") Детская хирургия
                    li
                        a(href="#") Трихология
                    li
                        a(href="#") Пирсинг
                    li
                        a(href="#") Уходовые процедуры

        .main-footer__top-form
            .footer-form-container
                form.gs-form
                    h2.gs-form__title Запишитесь<br> на прием

                    span.gs-form__subtitle и получите бесплатную<br> консультацию

                    .gs-form__fields-row
                        .field
                            label(for="fio") Имя
                            input(type="text" placeholder="ФИО" name="fio" id="fio")

                        .field
                            label(for="tel") Телефон
                            input(type="text" placeholder="+7 (999) 999-99-99" name="tel" id="tel")

                    button(type="submit").gs-form__submit
                        .ic
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 21 15" fill="none">
                            <path d="M20.4126 1.49027C20.4606 1.21832 20.279 0.958993 20.007 0.911041L15.5754 0.129624C15.3035 0.0816724 15.0441 0.263256 14.9962 0.535204C14.9482 0.807152 15.1298 1.06648 15.4018 1.11443L19.341 1.80903L18.6464 5.74826C18.5984 6.0202 18.78 6.27953 19.052 6.32748C19.3239 6.37543 19.5832 6.19385 19.6312 5.9219L20.4126 1.49027ZM1.07971 14.5957L1.3665 15.0053L20.207 1.81302L19.9202 1.40344L19.6334 0.993869L0.792924 14.1861L1.07971 14.5957Z" fill="#F5F0ED"/>
                            </svg>

                        span Записаться

                    .gs-form__footer
                        | Нажимая кнопку «Записаться», я соглашаюсь с условиями<br>
                        | обработки персональных данных


    .main-footer--grid.main-footer__bottom.container
        .main-footer__bottom-contact-info
            ul
                li
                    a(href="mailto: info@gorgeous.kz").h-under info@gorgeous.kz
                li
                    a(href="tel: +7 700 222 2207").h-under +7 700 222 2207

            .adress
                span г. Алматы,<br>ул. Маркова 61/1 уг. про-та Аль-Фараби,<br>2 блок, 2 этаж
                span Будни: с 9:00 до19:00<br>суббота 9:00 -18:00

        .main-footer__bottom-public
            ul
                li
                    a(href="#") Лицензии
                li
                    a(href="#") Оплата
                li
                    a(href="#") Публичная оферта
                li
                    a(href="#") Клятва Гиппократа
                li
                    a(href="#") Цены


            ul.socials
                li
                    a(href="#")
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M9.00001 0C13.9707 0 18 4.0293 18 8.99999C18 13.9707 13.9707 18 9.00001 18C7.40949 18.0027 5.84693 17.5818 4.47301 16.7805L0.00361391 18L1.22041 13.5288C0.418476 12.1544 -0.00277346 10.5912 1.37418e-05 8.99999C1.37418e-05 4.0293 4.02931 0 9.00001 0ZM5.93281 4.77L5.75281 4.7772C5.63643 4.78522 5.52272 4.81578 5.41801 4.8672C5.32043 4.92256 5.23132 4.99166 5.15341 5.0724C5.04541 5.1741 4.98421 5.2623 4.91851 5.3478C4.58562 5.78061 4.40639 6.31198 4.40911 6.85799C4.41091 7.29899 4.52611 7.72829 4.70611 8.12969C5.07421 8.94149 5.67991 9.80099 6.47911 10.5975C6.67171 10.7892 6.86071 10.9818 7.06411 11.1609C8.0572 12.0352 9.24056 12.6657 10.5201 13.0023L11.0313 13.0806C11.1978 13.0896 11.3643 13.077 11.5317 13.0689C11.7938 13.0551 12.0496 12.9841 12.2814 12.861C12.3992 12.8001 12.5142 12.734 12.6261 12.663C12.6261 12.663 12.6642 12.6372 12.7386 12.582C12.8601 12.492 12.9348 12.4281 13.0356 12.3228C13.1112 12.2448 13.1742 12.1542 13.2246 12.051C13.2948 11.9043 13.365 11.6244 13.3938 11.3913C13.4154 11.2131 13.4091 11.1159 13.4064 11.0556C13.4028 10.9593 13.3227 10.8594 13.2354 10.8171L12.7116 10.5822C12.7116 10.5822 11.9286 10.2411 11.4498 10.0233C11.3997 10.0015 11.346 9.98897 11.2914 9.98639C11.2298 9.97995 11.1676 9.98682 11.1089 10.0065C11.0502 10.0263 10.9964 10.0584 10.9512 10.1007C10.9467 10.0989 10.8864 10.1502 10.2357 10.9386C10.1984 10.9888 10.1469 11.0267 10.0879 11.0475C10.0289 11.0684 9.96509 11.0712 9.90451 11.0556C9.84585 11.04 9.7884 11.0201 9.73261 10.9962C9.62101 10.9494 9.58231 10.9314 9.50581 10.899C8.98909 10.6739 8.5108 10.3693 8.08831 9.99629C7.97491 9.89729 7.86961 9.78929 7.76161 9.68489C7.40756 9.34578 7.09898 8.96218 6.84361 8.54369L6.79051 8.45819C6.75294 8.40041 6.72214 8.33851 6.69871 8.27369C6.66451 8.14139 6.75361 8.03519 6.75361 8.03519C6.75361 8.03519 6.97231 7.79579 7.07401 7.66619C7.17301 7.54019 7.25671 7.41779 7.31071 7.33049C7.41691 7.15949 7.45021 6.98399 7.39441 6.84809C7.14241 6.2325 6.88201 5.6202 6.61321 5.0112C6.56011 4.8906 6.40261 4.8042 6.25951 4.7871C6.21091 4.7811 6.16231 4.7763 6.11371 4.7727C5.99287 4.76577 5.87169 4.76697 5.75101 4.7763L5.93281 4.77Z" fill="#DD905A"/>
                        </svg>

                li
                    a(href="#")
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16" fill="none">
                        <path d="M10 2H8.22222C6 2 4.66667 3.125 4.66667 5V14M2 8H8.22222" stroke="#DD905A" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                li
                    a(href="#")
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <path d="M9.37381 0C10.33 0.00254994 10.8153 0.00764982 11.2344 0.0195495L11.3993 0.0254994C11.5896 0.0322992 11.7775 0.040799 12.0044 0.0509987C12.9088 0.0934977 13.5259 0.236294 14.0673 0.446239C14.6282 0.662134 15.1008 0.954527 15.5734 1.42627C16.0058 1.85103 16.3402 2.36504 16.5534 2.93243C16.7633 3.47387 16.9061 4.09095 16.9486 4.99618C16.9588 5.22227 16.9673 5.41012 16.9741 5.60136L16.9792 5.76626C16.992 6.18445 16.9971 6.66979 16.9988 7.62602L16.9996 8.2601V9.37357C17.0017 9.99355 16.9952 10.6135 16.9801 11.2333L16.975 11.3982C16.9682 11.5895 16.9597 11.7773 16.9495 12.0034C16.907 12.9086 16.7625 13.5249 16.5534 14.0672C16.3402 14.6345 16.0058 15.1486 15.5734 15.5733C15.1486 16.0057 14.6346 16.3402 14.0673 16.5533C13.5259 16.7633 12.9088 16.9061 12.0044 16.9486L11.3993 16.9741L11.2344 16.9792C10.8153 16.9911 10.33 16.997 9.37381 16.9987L8.73974 16.9996H7.62715C7.0069 17.0018 6.38666 16.9953 5.76659 16.98L5.6017 16.9749C5.39993 16.9673 5.1982 16.9585 4.99653 16.9486C4.09218 16.9061 3.47511 16.7633 2.93284 16.5533C2.36577 16.3401 1.85207 16.0056 1.42756 15.5733C0.994887 15.1486 0.660143 14.6346 0.446711 14.0672C0.236772 13.5257 0.0939787 12.9086 0.0514808 12.0034L0.0259821 11.3982L0.0217325 11.2333C0.00606439 10.6135 -0.00101935 9.99356 0.000483453 9.37357V7.62602C-0.00186914 7.00604 0.00436454 6.38606 0.0191826 5.76626L0.0251322 5.60136C0.0319319 5.41012 0.0404314 5.22227 0.0506309 4.99618C0.0931288 4.09095 0.235922 3.47472 0.445861 2.93243C0.65979 2.36481 0.995123 1.85078 1.42841 1.42627C1.85267 0.994093 2.36607 0.659647 2.93284 0.446239C3.47511 0.236294 4.09133 0.0934977 4.99653 0.0509987C5.22262 0.040799 5.41131 0.0322992 5.6017 0.0254994L5.76659 0.0203994C6.38637 0.00529767 7.00634 -0.00121946 7.6263 0.000849918L9.37381 0ZM8.50005 4.2499C7.37294 4.2499 6.29199 4.69765 5.495 5.49466C4.69801 6.29167 4.25027 7.37265 4.25027 8.49979C4.25027 9.62694 4.69801 10.7079 5.495 11.5049C6.29199 12.3019 7.37294 12.7497 8.50005 12.7497C9.62717 12.7497 10.7081 12.3019 11.5051 11.5049C12.3021 10.7079 12.7498 9.62694 12.7498 8.49979C12.7498 7.37265 12.3021 6.29167 11.5051 5.49466C10.7081 4.69765 9.62717 4.2499 8.50005 4.2499ZM8.50005 5.94986C8.83491 5.9498 9.16649 6.0157 9.47588 6.1438C9.78527 6.27189 10.0664 6.45967 10.3032 6.69641C10.54 6.93316 10.7279 7.21423 10.8561 7.52358C10.9843 7.83293 11.0503 8.16451 11.0504 8.49937C11.0504 8.83423 10.9845 9.16583 10.8564 9.47522C10.7283 9.78461 10.5405 10.0657 10.3038 10.3026C10.0671 10.5394 9.78601 10.7273 9.47667 10.8555C9.16732 10.9837 8.83576 11.0497 8.5009 11.0497C7.82464 11.0497 7.17607 10.7811 6.69787 10.3029C6.21968 9.82467 5.95103 9.17608 5.95103 8.49979C5.95103 7.82351 6.21968 7.17492 6.69787 6.69671C7.17607 6.21851 7.82464 5.94986 8.5009 5.94986M12.9632 2.97493C12.6814 2.97493 12.4112 3.08687 12.2119 3.28612C12.0127 3.48537 11.9007 3.75562 11.9007 4.0374C11.9007 4.31919 12.0127 4.58943 12.2119 4.78868C12.4112 4.98794 12.6814 5.09988 12.9632 5.09988C13.245 5.09988 13.5152 4.98794 13.7144 4.78868C13.9137 4.58943 14.0256 4.31919 14.0256 4.0374C14.0256 3.75562 13.9137 3.48537 13.7144 3.28612C13.5152 3.08687 13.245 2.97493 12.9632 2.97493Z" fill="#DD905A"/>
                        </svg>

                li
                    a(href="#")
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="12" viewBox="0 0 22 12" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.4954 0.812571C21.6475 0.344571 21.4954 0 20.7666 0H18.3604C17.7481 0 17.4658 0.297429 17.3127 0.625714C17.3127 0.625714 16.089 3.36514 14.3556 5.14457C13.7946 5.66057 13.5398 5.82429 13.2336 5.82429C13.0806 5.82429 12.8505 5.66057 12.8505 5.19171V0.812571C12.8505 0.250286 12.6818 0 12.1722 0H8.38824C8.006 0 7.77592 0.260571 7.77592 0.508286C7.77592 1.04057 8.64307 1.164 8.73198 2.66229V5.91771C8.73198 6.63171 8.59174 6.76114 8.28558 6.76114C7.46976 6.76114 5.48522 4.00886 4.30733 0.859714C4.07908 0.246857 3.84809 0 3.23302 0H0.824983C0.137497 0 0 0.297429 0 0.625714C0 1.21029 0.815816 4.11429 3.7995 7.95514C5.78863 10.578 8.58899 12 11.14 12C12.6699 12 12.8587 11.6846 12.8587 11.1403V9.15771C12.8587 8.526 13.0036 8.4 13.4885 8.4C13.846 8.4 14.4574 8.56457 15.8855 9.82886C17.5171 11.328 17.7857 12 18.7042 12H21.1104C21.7979 12 22.1425 11.6846 21.9445 11.0606C21.7264 10.44 20.9472 9.53914 19.9142 8.47029C19.3532 7.86171 18.5117 7.206 18.256 6.87771C17.8994 6.45686 18.0011 6.26914 18.256 5.89457C18.256 5.89457 21.1892 2.10086 21.4945 0.812571" fill="#DD905A"/>
                        </svg>



    .main-footer__mob-menu.container
        ul.nav-col
            li
                a(href="#") О клинике
            li
                a(href="#") Преимущества
            li
                a(href="#") Наше оборудование
            li
                a(href="#") Магазин
            li
                a(href="#") Контакты
            li
                a(href="#") Блог


        ul.nav-col
            li
                a(href="#") Лицензии
            li
                a(href="#") Оплата
            li
                a(href="#") Публичная оферта
            li
                a(href="#") Клятва Гиппократа
            li
                a(href="#") Цены

        ul.nav-col
            li
                a(href="#") Пластическая хирургия
            li
                a(href="#") Косметология
            li
                a(href="#") Эстетическая гинекология
            li
                a(href="#") Сосудистая хирургия
            li
                a(href="#") Детская хирургия
            li
                a(href="#") Трихология
            li
                a(href="#") Пирсинг
            li
                a(href="#") Уходовые процедуры

    .main-footer__copy.container
        a(href="#").h-under Разработка сайта
        span ТОО “GORGEOUS” Все права защищены 2015-2023


    img.main-footer__circle(src="img/corner-circ.svg" alt="#")