section.we-care-section.bloq-sec
    .container
        .we-care-section__grid.top-divider.bottom-divider
            .doctor-bloq
                img(src="img/saik.png" alt="#")
                span Пластический хирург<br>Сайк Павел Юрьевич

            .manc.iscloq
                p Большинство операций по увеличению груди я провожу через подгрудный доступ. Научно доказано, что при установке импланта через ареолу, в 20 раз выше риск развития капсулярной контрактуры, чем через подгрудный доступ, так как хирург неизбежно повреждает железу. А содержимое ее протоков не совсем стерильно, и карман условно инфицируется сильнее, чем через подгрудный доступ. Отсюда и такие высокие риски возникновения капсулярной контрактуры.