.gs-form {
  &__title {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px; /* 84.375% */
    margin-bottom: 44px;
  }

  &__subtitle {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    display: block;
    margin-bottom: 73px;
  }

  &__fields-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 21px;
  }

  .field {
    position: relative;

    label {
      position: absolute;
      top: 15px;
      left: 24px;
      color: rgba(255, 255, 255, 0.80);
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }

    input {
      outline: none;
      color: #fff;
      height: 75px;
      display: block;
      width: 100%;
      border-radius: 12px;
      border: 1px solid rgba(211, 196, 167, 0.50);
      padding-top: 30px;
      padding-bottom: 15px;
      padding-left: 24px;
      padding-right: 24px;
      background: none !important;
      font-size: 20px;
      transition: background-color 999999999999s ease-in;

      &:hover, &:focus {
        border-color: #DD905A;
      }

      &.error {
        border-color: red;
      }


      &::placeholder {
        color: rgba(211, 196, 167, 0.50);
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 100% */
      }
    }
  }

  &__submit {
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      .ic svg {
        transform: rotate(35deg);
      }

      span {
        text-decoration: none;
      }
    }

    .ic {
      width: 108px;
      height: 108px;
      background: #DD905A;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      svg {
        transition: transform .2s ease-in-out;
      }
    }

    span {
      margin-top: 17px;
      display: block;
      color: rgba(255, 255, 255, 0.80);
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
      text-transform: uppercase;
    }
  }

  &__footer {
    margin-top: 72px;
    padding-top: 45px;
    border-top: 1px solid #D3C4A780;
    color: #D3C4A7;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
  }
}

@media (max-width: 1290px) {

  .gs-form__title {
    margin-bottom: 18px;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
  }

  .gs-form__subtitle {
    margin-bottom: 32px;
  }

  .gs-form__submit, .gs-form__footer {
    margin-top: 38px;
  }
}

@media (max-width: 768px) {
  .gs-form__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
  }

  .gs-form__fields-row {
    grid-template-columns: 100%;
    gap: 12px;
  }

  .gs-form__submit .ic {
    width: 68px;
    height: 68px;
  }

  .gs-form__submit span {
    color: rgba(255, 255, 255, 0.80);
    font-size: 14px;
    font-weight: 500;
  }
}